{{ partial "header" . }}
<!-- CATEGORY -->
<div class="section home-category">
	<div class="container">
		<div class="row">
			<div class="col s12">
				<div class="section-title">
					<span class="theme-secondary-color">Rekomendasi</span> Seputar Makanan, Restoran, Hotel & Tempat Wisata, Jasa, Gadget Dan Teknologi
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END CATEGORY -->
<!-- POPULER SEARCH -->
<div class="section populer-search">
	<div class="container">
		<div class="row row-title">
			<div class="col s12">
				<div class="section-title">
					<span class="theme-secondary-color">Paling Banyak</span> Dicari
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s12">
				<div class="list-tag-word">
					<a class="tag-word" href="/tagar/cara-mendapatkan-uang-dari-internet">Cara Mendapatkan Uang Dari Internet</a>
					<a class="tag-word" href="/tagar/tutorial-adsense">Tutorial AdSense</a>
					<a class="tag-word" href="/waralaba">Waralaba</a>
					<a class="tag-word" href="/tagar/waralaba-makanan">Waralaba Makanan</a>
					<a class="tag-word" href="/peluang-usaha">Peluang Usaha</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END POPULER SEARCH -->

{{ partial "footer" . }}