<!-- SIDE NAV-->
<nav>
    <!-- SIDENAV CATEGORY-->
    <ul id="nav-mobile-category" class="side-nav">
        <li class="sidenav-logo">
            <i class="fa fa-dollar-sign" aria-hidden="true"></i> Bisnis.TECH
        </li>
        <li>
            <ul class="collapsible collapsible-accordion">
                <li>
                    <div class="collapsible-header">
                        <i class="fas fa-plus"></i>Gadget <span><i class="fas fa-caret-down"></i></span>
                    </div>
                    <div class="collapsible-body">
                        <ul>
                            <li>
                                <a class="waves-effect waves-blue" href="#"><i
                                        class="fas fa-angle-right"></i>Hape</a>
                            </li>
                            <li>
                                <a class="waves-effect waves-blue" href="#"><i
                                        class="fas fa-angle-right"></i>Laptop</a>
                            </li>
                            <li>
                                <a class="waves-effect waves-blue" href="#"><i
                                        class="fas fa-angle-right"></i> Lain-Lain</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        <li>
            <ul class="collapsible collapsible-accordion">
                <li>
                    <div class="collapsible-header">
                        <i class="fas fa-plus"></i>Makanan <span><i class="fas fa-caret-down"></i></span>
                    </div>
                    <div class="collapsible-body">
                        <ul>
                            <li>
                                <a class="waves-effect waves-blue" href="#"><i
                                        class="fas fa-angle-right"></i>Sushi</a>
                            </li>
                            <li>
                                <a class="waves-effect waves-blue" href="#"><i
                                        class="fas fa-angle-right"></i>Frozen Food</a>
                            </li>
                            <li>
                                <a class="waves-effect waves-blue" href="#"><i
                                        class="fas fa-angle-right"></i>Ayam Goreng</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        <li>
            <ul class="collapsible collapsible-accordion">
                <li>
                    <div class="collapsible-header">
                        <i class="fas fa-plus"></i>Tempat <span><i class="fas fa-caret-down"></i></span>
                    </div>
                    <div class="collapsible-body">
                        <ul>
                            <li>
                                <a class="waves-effect waves-blue" href="#"><i
                                        class="fas fa-angle-right"></i>Restoran</a>
                            </li>
                            <li>
                                <a class="waves-effect waves-blue" href="#"><i
                                        class="fas fa-angle-right"></i>Cafe</a>
                            </li>
                            <li>
                                <a class="waves-effect waves-blue" href="#"><i
                                        class="fas fa-angle-right"></i>Hotel</a>
                            </li>
                            <li>
                                <a class="waves-effect waves-blue" href="#"><i
                                        class="fas fa-angle-right"></i>Wisata</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        <li>
            <a href="{{ .Site.BaseURL }}/"><i class="fas fa-plus"></i> Jasa</a>
        </li>
    </ul>
    <!-- END SIDENAV CATEGORY-->
</nav>
<!-- END SIDENAV-->